.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100%;
  background-color: #fff;
  /* box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1); */
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  margin-bottom: 20px;
}



.open {
  transform: translateX(0); 
  box-shadow: -5px 0 100px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.header h2 {
  font-size: 1.3rem;
    font-weight: 550;
    margin: 0;
    color: inherit;
    opacity: .8;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ff6b6b; 
  display: flex;
    text-align: end;
    align-items: self-end;
}

.cartItems {
  margin-top: 20px;
  height: calc(100vh - 250px);
  overflow-y: auto;
 /* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
 -ms-overflow-style: none;  /* Internet Explorer 10+ */
 scrollbar-width: none;     /* Firefox */
}

.cartItems::-webkit-scrollbar {
 display: none;  /* Webkit browsers */
}



.contentcartItem {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 15px;
  gap: 10px;
}

.itemImage {
  margin-right: 15px;
  /* background: ; */
  background: rgb(247 247 252);
  width: 150px;
  height: 150px;
  /* padding: 5px; */
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.itemImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.itemDetails {
  flex: 1;
  font-size: 0.9rem;
}

.itemDetails h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px 0;
  color: #333;
  text-transform: capitalize;
  word-break: break-all;
 
}

.itemDetails p {
  color: #666;
  margin: 5px 0;
}

.quantityControlContainer {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}

.quantityControl {
  align-items: center;
  text-align: x;
  gap: 10px;
  margin-top: 5px;

  border-radius: 20px;
  width: 85px;
  padding: 5px 0px;
  text-align: center;
  justify-content: space-around;
  display: inline-flex;
  background: rgb(247 247 252);
}

.quantityControl button {
  border: none;
  background-color: #000;
  
  /* padding: 5px 10px; */
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20px;
  height: 20px;
}

.quantityControl button:hover {
  background-color: #bbb;
}

.quantityControl span {
  font-size: 1rem;
}

.priceControlContainer {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
}




.priceDisplay p {
  font-weight: 600;
  color: #333;
  font-size: 1rem;
  margin-top: 10px;
}

.removeButton {
  background-color: transparent;
  border: none;
  color: #ff6b6b;
  font-size: 1.1rem;
  cursor: pointer;
  margin-left: auto;
  transition: color 0.2s ease;
  display: flex;
   
    gap: 5px;
}

.removeButton:hover {
  color: #d64545;
}

.footer {
  position: absolute;
    bottom: 20px;
    left: 0;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.footer h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  display: flex;
    justify-content: space-between;
}

.footer p {
  font-size: .9rem;
    font-weight: 600;
    color: #333;
}

.checkoutButton {
  width: 90%;
  
    background-color: rgb(242 62 20);
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutButton:hover {
  background-color: #d64545;
}



/* size color  */


.selectedSize {
  display: flex;
  text-align: center;
  gap: 5px;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}


.selectedSize p {
  color: #666;
 
  text-transform: capitalize;
  text-align: left;
  margin: 0 !important;
    /* width: 100%; */
}

.selectedSize p:hover {
  color: #000;
}






@media (max-width: 768px) {
  .sidebar {
    width: 75%; 
    padding: 20px 10px 20px 20px;
  }
  .itemImage {
    width: 120px;
    height: 150px;
    margin-right: 10px;
  }

  .itemImage img {
    height: 100%;
        object-fit: contain;
        width: 100%;
  }


  .footer {
    padding: 10px;
  }
  .footer h3  {
    margin: 8px;
  }

  .footer p{
    font-size: 0.85rem;
    font-weight: 500;
  }

}



/* wislist  */
.link {
  text-decoration: none;
}

.wislistsidebar{
  margin-top: 20px;
  height: calc(100vh - 100px);
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.wislistsidebar::-webkit-scrollbar {
  display: none;  /* Webkit browsers */
 }


