/* General container styling */



.orderContainermain {
  margin: 80px 10px;
    
}
.orderContainer {
  
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
}

/* Layout for product and order details */

/* topbar text id and user id   */
/* design new   */

.atrributecontainer {
  margin: 5px 0;
}
.dispalynoen {
  display: none;
}
.ShippingInformation h1{
  color: #333;
  font-size: 20px;
  
  font-size: 20px;
    margin: 0;
  
    font-weight: 600;
    text-transform: capitalize;
  
}

.ShippingInformation h1 span{
  color: #666;
  font-size: 20px;
}

.ShippingInformationh1 p {
  font-size: 16px;
  color: #666; /* Text color for the paragraph */
  margin: 5px 0 0 0;
}


.ShippingInformation {
  display: flex;
  gap: 10px; /* Space between arrow button and text */
  padding: 20px;
  border-radius: 8px;
  max-width: 1200px;
    margin: 0px auto;
}

.arrowButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 24px; /* Adjust the size of the icon */
  display: flex;
  align-items: start;
}

.arrowButton svg {
  color: rgb(242 62 20); /* Set the icon color */
}

.arrowButton svg:hover {
  color: rgba(242, 61, 20, 0.571); /* Set the icon color */
}





/* topbar text id and user id end   */



.fullContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 10px;
}

/* Left container for product details */
.leftContainer {
  max-width: 700px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

/* Product card styling */
.productCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* max-width: 350px; */
  gap: 20px;
  margin-bottom: 10px;
}

/* Product image */
.productImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

/* Product details */
.productDetails {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 10px;
  gap: 10px;
  
  justify-content: end;
}


.productDetails p {
  margin: 0;
}

.productDetails p strong{
  font-size: 1.1rem;
  color: #333;
  margin: 0;
  text-transform: capitalize;
}

.productDetails p span {
  font-size: 0.9rem;
  color: #666;
  text-transform: capitalize;
}

.productDetails > :last-child {
  grid-column: 3 / 3;
}

.ViewProduct {
padding: 10px 20px;
background-color: rgb(242 62 20);;
color: white;
border: none;
border-radius: 5px;
font-size: 0.9rem;
cursor: pointer;
transition: background-color 0.3s;
font-weight: bold;
cursor: pointer;

}

.ViewProduct a {
  text-decoration: none;
  color: #fff;
}

.ViewProduct button:hover {
background-color: rgba(242, 61, 20, 0.571);
}


.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.UpdateOrderbuttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
}

.UpdateOrder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.UpdateOrder label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.selectStatus {
  /* padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s; */

  border-radius: 5px;
    font-size: 14px;
    transition: border-color .3s;
    cursor: pointer;
    display: flex;
    text-transform: capitalize;
    transition: background-color .3sease, color .3sease;
    background-color: #f7f7fc;
    color: #1f1f39;
    border: none;
    font-family: inherit;
    line-height: 1;
    padding: 10px;

}

.selectStatus:focus {
  border-color: rgb(242, 62, 20);
}

.button {
  padding: 10px 20px;
  font-size: 0.9rem;
  font-weight: 900;
  background-color: rgb(242, 62, 20);
  color: white;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: rgba(242, 61, 20, 0.8);
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buttonDelete {
  background-color: #ff4d4d;
}

.buttonDelete:hover {
  background-color: #e60000;
}



/* product end   */








.sizecolor {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #333;
}

.sizecolor p {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.sizecolor p:hover {
  color: #000;
}

.sizecolor p:first-of-type::after {
  content: '|';
  margin-left: 5px;
}

/* Right container for order details */
.rightContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.CuponPaymentPrice {
/*   display: flex; */
    gap: 10px;
    /* text-align: center; */
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}


.ShippingAddress {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}


.CuponPaymentPriceDivContainer {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}



.rightContainer p{
  font-size: 1.1rem;
  text-transform: capitalize;
  font-weight: 700;
  color: #444;
  display: flex;
  flex-direction: column;
   gap: 10px;
   margin: 0;
}


.rightContainer p span{
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #666;
}

.rightContainer .headingshiping {
  font-size: 18px;
  margin: 0;
}


/* Order summary */
.orderSummary {
  list-style: none;
  padding: 0;
}

.orderSummary li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.orderSummary h2 {
  margin-bottom: 15px;
}

.orderSummary h3 {
  font-size: 18px;
  margin: 15px 0;
  text-align: right;
}

/* Payment buttons styling */
.paymentButtons {
  display: flex;
  justify-content: space-between;
}

.paymentButton {
  flex: 1;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #f7f7f7;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.paymentButton:hover {
  background-color: rgba(242, 61, 20, 0.901);
  color: #fff;
}

.paymentButton.selected {
  background-color: rgb(242 62 20);
  color: white;
  border-color: rgba(242, 61, 20, 0.571);
}

/* Coupon section */

.couponSection button {
  padding: 10px 20px;
  background-color: rgb(242 62 20);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.couponSection button:hover {
  background-color: rgba(242, 61, 20, 0.571);
}

/* Order button */
.orderButton {
  margin-top: 30px;
  padding: 15px;
  width: 100%;
  background-color: rgb(242 62 20);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.orderButton:hover {
  background-color: rgba(242, 61, 20, 0.571);
}

/* Responsive design */
@media (max-width: 768px) {
 
  .productDetails p span {
    font-size: .9rem;
    color: #666;
    text-transform: capitalize;
    display: flex;
    /* gap: 10px; */
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
  }

  .ViewProduct {
    padding: 5px 5px;
    
    display: flex;
    justify-content: center;
  }
  .ShippingInformation h1{ 
    display: flex;
    flex-direction: column;
  }
  .ShippingInformation h1 span{ 
    word-break: break-all;
  }

  .productDetails > :last-child {
    grid-column: 1 / 3;
  }
  .orderContainermain {
    margin: 50px 5px;
  }.ShippingInformation {
    padding: 0px;
  }.orderContainer {
    padding: 0px;
    margin: 60px 0;
  }
  .orderDetails {
    flex-direction: column;
  }
  .fullContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .leftContainer,
  .rightContainer {
    padding: 0px;
    width: 100%;
    box-shadow: none;
    margin: 0 0 20px 0px;
          
  }
  .productCard {  
    padding: 10px 0;
    background-color: #fff;
    gap: 10px;
    align-items: self-start;
 box-shadow: none;
  }

  .productDetails {
    grid-template-columns: repeat(1, 1fr);
  }
  .paymentButtons {
    flex-direction: column;
  }

  .paymentButton {
    margin-bottom: 10px;
  }

  .couponSection input {
    width: 100%;
  }

  .couponSection button {
    width: 100%;
  }
}
