

/* footer.module.css */

.footerContainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
 padding: 0;
 margin: 20px auto;

  /* color: #333; */
}

/* Benefit Section */
.benefitContainer {
  display: flex;
  /* justify-content: center; */
  padding: 40px 0 30px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  /* align-items: center; */
  width: 80%;
  /* width: 900px; */
  margin: 0 auto;
}

.benefitItem {
  display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.benefitItem > div {
  display: flex;
  flex-direction: column;
  gap: 0;
  /* width: 70%; */
}


.benefitItem svg {
  color: #f23e14;
  font-size: 1.5rem;
  margin-top: 15px;
}

.benefitItem h3 {
  font-size: 1rem;
  color: inherit;
  margin-bottom: 5px;
  font-weight: 600;
}

.benefitItem p {
  font-size: 0.85rem;
  color: inherit;
  margin: 5px;
}









/* Subscribe Section */
/* .subscribeSection {
  text-align: center;
  margin-bottom: 30px;
} */

.logo {
  font-size: 2rem;
  color: #f23e14;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.subscribeSection h3 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}



/* footer.module.css */

.subscribeForm {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.inputContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 !important;
}

.inputField {
  width: 100%;
  padding: 10px 15px;
  padding-right: 90px; /* Space for the button */
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 1rem;
  box-sizing: border-box;
}

.subscribeButton {
  position: absolute;
    right: 10px;
    top: 2px;
    height: 90%;
    padding: 0 15px;
    background-color: #f23e14;
    color: #fff;
    border: none;
    /* display: flex; */
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.subscribeButton:hover {
  background-color: #d12c11;
}





/* Social Icons */
.icons {
  display: flex;
  gap: 15px;
  
    justify-content: space-between;
    padding: 30px 0 0;
}

.icons a svg {
  color:  rgb(31 31 57);
  margin: 0 2px;
  /* transition: color 0.3s ease; */
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  transition: color 0.3s ease;
}

.icons a:hover svg {
  color: #f23e14;
}

/* Footer Links */
.footerSections {
  display: flex;
  justify-content: space-around;
  background-color:  rgb(31 31 57);
  /* margin-bottom: 30px; */
}

.footerSections div {
  /* flex: 1;
  min-width: 200px; */
  margin: 30px 0;
}

.footerSections h4 {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 10px;
}

.footerSections ul {
  list-style: none;
  padding: 0;
}

.footerSections ul li {
  margin-bottom: 18px;
}

.about ul li {
  color: #fff;
}

.about ul li:hover {
  color: #f23e14;
}


.footerSections ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 0.95rem;
}

.footerSections ul li a:hover {
  color: #f23e14;
}

/* Copyright */
.copyright {
  background-color:  rgb(31 31 57);
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
  border-top: 1px solid #333;
  padding: 20px;
}

.copyright p{
  margin: 0;
  word-break: break-all;
  text-transform: capitalize;
}


/* Responsive Design */
@media (max-width: 768px) {

  .footer {
    display: none; 
  }


  .benefitContainer {
    text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        display: grid;
      grid-template-columns: repeat(2, auto);
      width: 99%;
      border-top: 1px solid #ddd;
        margin-top: 40px;
        padding: 30px 0 30px;
        gap: 5px;
        margin: 0 0px 40px 0;
  }


  .benefitItem {
    grid-template-columns: repeat(1, auto);
    gap: 0px;
  }
.benefitItem svg {
  font-size: 1.4rem;
  margin: 5px;
}

.benefitItem h3 {
  font-size: .95rem;
  color: inherit;
  margin: 5px ;
   font-weight: 600;
   
  word-spacing: 0;
    word-break: break-all;
    white-space: break-spaces;
    /* font-size: 0.95rem; */
    white-space: nowrap;
    line-height: 1.5rem;
}

.benefitItem p {
  margin: 5px;
}


  .footerSections {
    display: grid;
        grid-template-columns: repeat(1, auto);
       
  }



  .footerSections > :first-child {
grid-column: 1 / 3;
display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        flex-direction: column;
  }

  .footerSections > :last-child {
    grid-column: 1 / 3;
    text-align: center;
      }


  .footerSections div {
    margin: 10px 0 0 0;
  }
  .subscribeSection h3{
    margin: 12px 0;
  }

  .footerSections h4 {
    font-size: 2rem;
    margin: 8px;
  }

  .footerSections ul {
    margin: 0 8px;
  }


.footerSections ul li a {
  font-size: 1.1rem;
}
  .subscribeForm {
    flex-direction: column;
  }

  .inputField, .subscribeButton {
    width: 100%;
    border-radius: 4px;
  }
  .subscribeButton {
    margin-top: 2%;
    position: initial;
    font-size: 1.2rem;
    height: 60%;
  }

  .about ul li{
    line-height: 1.5rem;
    margin-bottom: 5px;
  }
  .icons {
    justify-content: flex-start;
  }
  
  .copyright {
    padding: 20px 0 80px 0;
    margin: 10px 0 !important;
  }
  .copyright p {
    font-size: .65rem;
  }
}
